*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppiens',sans-serif;
    text-transform: capitalize;
}

body{
    background: #001e4d;
	-webkit-animation: color-change-2x 2s linear infinite alternate both;
    animation: color-change-2x 2s linear infinite alternate both;

}

.app{
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 2em;
    border-radius: 1em;
    width: 500px;
    max-width: 100%;
}

.app h1{
    color: #001e4d;
    padding: 0.2em 0;
    position: relative;
}

/* my timer */
.timer{
    height: 40px;
    width: 40px;
    position: absolute;
    right:30px;
    top:35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:1.5rem;
    color: #001e4d;
    border: 2px solid #001e4d;
    border-radius: 50%;
}


.bar-timer{
    height: 5px;
    background: #001e4d;
    border-radius: 1em;
    transition: all 0.3s ease;
}

.quiz h2{
    font-size: 18px;
    color: #001e4d;
    padding: 0.5em 0;
}

.btn{
    background: white;
    width: 100%;
    color: #222;
    font-weight: 500;
    padding: 0.5em;
    margin: 1em 0;
    border: 2px solid #001e4d;
    cursor: pointer;
    text-align: left;
    font-weight: 600;
}


.btn:hover:not([disabled]){
    color: white;
    background: #222;
}

.btn:disabled{
    cursor: no-drop;
}
#next-btn{
    background: #001e4d;
    color: white;
    width: 100%;
    padding: 0.8em;
    cursor: pointer;
    border-radius: 0.3rem;
    display: none;
}

/* check the buuton click */

.correct{
    background: #9aeabc;
}
.incorrect{
    background: #ff9393;
}

/* keyframe of body🚀 */
 @-webkit-keyframes color-change-2x {
    0% {
      background: #19dcea;
    }
    100% {
      background: #982dd6;
    }
  }
  @keyframes color-change-2x {
    0% {
      background: #19dcea;
    }
    100% {
      background: #9b26de;
    }
  }
  